* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Noto Sans', sans-serif;
}

.header {
  padding: 15px;
}

.heading {
  display: inline-flex;

}

.saketa {
  margin-top: 10px;
  margin-left: 5px;

}

.Employee_Directory {
  margin-left: 32px
}

.Employee_Directory h1 {
  font-weight: 100;
  color: cornflowerblue;
}

.Employee_Directory h4 {
  color: #6b6565;
}


.Welcome {
  margin-left: 728px;
}

.Welcome span {
  color: cornflowerblue;
  font-size: larger;
}

.line {
  height: 1px;
  background-color: #9b9494;
}

.container {
  width: 100%;
  display: flex;
}

.left_container {
  width: 20%;
  height: 83vh;
  /* Set a fixed height for scrollability */
  overflow-y: auto;
  /* Enable vertical scrolling */
}

.right_conatiner {
  width: 80%;

}

.left_container {
  margin-top: 30px;
}

.left_container_subpart {
  margin-bottom: 15%;
}

/* Add this style to your existing CSS or create a new CSS file */

#departmentButtonsContainer button {
  background-color: white;
  color: black;
  border: none;
  font-size: 15px;
  cursor: pointer;
  display: block;
}




#officeButtonsContainer button {
  background-color: white;
  color: black;
  border: none;
  font-size: 15px;
  cursor: pointer;
  display: block;
}

#jobTitleButtonsContainer button {
  background-color: white;
  color: black;
  border: none;
  font-size: 15px;
  cursor: pointer;
  display: block;
}

.alphabet-buttons {
  margin-top: 30px;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
}

#alphabetButtons button {
  font-size: 18px;
  padding: 5px 12px;
  margin: 4px;
  cursor: pointer;
  background-color: #5656ee;
  color: white;
  border: 1px solid #a583d1;
  /*border-radius: 4px;  Rounded corners */
  transition: background-color 0.3s;
}

/* Add this style to your existing CSS or create a new CSS file */




.department-button:hover {
  background-color: #45a049;
}

button:hover {
  background-color: #45a049;
  /* Darker green on hover */
}

.data-container {
  margin-top: 20px;
  font-size: 20px;
}

.right_conatiner_subpart {
  display: flex;
  margin-top: 20px;

}

.search-container {
  /* margin-top: 20px; */
  text-align: center;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.search-container h3 {
  margin-right: 10px;
}

input[type="text"] {
  padding: 10px 18px;
  font-size: 16px;
  border: 1px solid #ccc;

  margin-right: 10px;
}

#search {
  font-size: 23px;
  padding: 5px 20px;
  margin: 4px;
  cursor: pointer;
  background-color: #48a34c;
  color: white;
  /* border: 1px solid #a583d1; */
  /*border-radius: 4px;  Rounded corners */
  transition: background-color 0.3s;
  margin-left: 17px;
}

.filter_container {
  margin-left: 50px;
  display: flex;
  text-align: center;
  align-items: center;
}

#searchDropdown {
  padding: 10px 35px;
  margin-left: 10px;
}

.btn-employee {
  margin-left: auto;
}

#add_Employee {
  font-size: 18px;
  padding: 5px 12px;
  margin: 4px;
  cursor: pointer;
  background-color: #5656ee;
  color: white;
  border: 1px solid #a583d1;
  /*border-radius: 4px;  Rounded corners */
  transition: background-color 0.3s;
}

.note {
  margin-top: 10px;
}

.notespam {
  font-weight: bold;
}

.mainPannel {
  border: 1px solid;
  margin-top: 10px;
  height: 63vh;
  /* Set a fixed height for scrollability */
  overflow-y: auto;
  /* Enable vertical scrolling */

}

.row {
  display: flex;
}

.Employee_info {
  display: flex;
  width: 23%;
  padding: 8px;
  background-color: #ede6da;
  margin: 10px;
  cursor: pointer;
  /* height: 20%; */
}

.img_employee-img {
  height: 56px;
}

.employee_data {
  margin-left: 5px
}

.employee_data span {
  display: flex;
}

.job_title {
  font-size: smaller;
}

.develpoer {
  font-size: smaller;
}

.htmlstr {
  display: flex;

}

#employee_form {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.emplyee_heading {
  display: flex;
}

.btncancle {
  margin-left: auto;
  width: 41px;
  cursor: pointer;
}

.employee_row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.employee_information {
  width: 48%;
  /* Adjust the width as needed */
}

.employee_information label,
.employee_information input {
  width: 100%;
  margin-bottom: 10px;
}

.employee_information label {
  text-align: right;
}

.buttons {
  float: right;
  display: flex;
  width: 35%;
}

#btnadd {
  background-color: green;
  width: 50%;
  height: 35px;
  /* float: right; */
  margin-top: 14px;
  /* margin-right: 24px; */
  cursor: pointer;
}

#btcancle {
  background-color: red;
  width: 50%;
  height: 35px;
  /* float: right; */
  margin-top: 14px;
  margin-right: 24px;
  cursor: pointer;
}

#btndelete {
  background-color: red;
  width: 50%;
  height: 35px;
  /* float: right; */
  margin-top: 14px;
  margin-right: 24px;
  cursor: pointer;
}

#btnupdate {
  background-color: green;
  width: 50%;
  height: 35px;
  /* float: right; */
  margin-top: 14px;
  /* margin-right: 24px; */
  cursor: pointer;
}